#order_data .order_data_column ._billing_street_name_field,
#order_data .order_data_column ._billing_house_number_suffix_field,
#order_data .order_data_column ._shipping_street_name_field,
#order_data .order_data_column ._shipping_house_number_suffix_field {
	float: left;
}

#order_data .order_data_column ._shipping_house_number_field,
#order_data .order_data_column ._billing_house_number_field {
	float: right;
}

table.tracktrace_status {
	margin-bottom: 10px;
}

table.tracktrace_status th {
	text-align: left
}

table.tracktrace_status th,
table.tracktrace_status td {
	padding: 0 5px;
}