tr.order-row table {
	width: 100%;
}

input[type=number] {
	width: 50px;
	text-align: center;
}

.wcmyparcel_settings_table td {
	border: none;
	padding: 0px 7px 2px;
	vertical-align: middle;
}

.wcmyparcel_settings_table td {
	border: none;
	padding: 0px 7px 2px;
}

td.ordercell {
	width: 60%;
}

input[type="checkbox"], input[type="radio"] {
	margin-right: 8px;
}

.page-form {
	width: 96%;
	margin: 10px auto;
}

.submit-wcmyparcel {
	margin-top: 8px;
	float: right;
}

.submit-wcmyparcel .waiting {
	display: none;
}

.submit-wcmyparcel .waiting, 
.submit-wcmyparcel input{
	vertical-align: middle;
}

dl.variation {
	margin: 0;
	font-size: 10px;
	color: #888;
}

dl.variation dd, dl.variation dt{
	margin: 0;
	display: inline;
}

.widefat .column-order_actions a.button.myparcel {
	float: left;
	width: 26px;
	height: 26px;
	padding: 3px 2px;
}

.widefat .column-order_actions a.button.myparcel img {
	width: 16px;
	height: auto;
}