{
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "wcmp": "readonly",
    "MyParcel": "readonly",
    "MyParcelFrontend": "readonly",
    "MyParcelDisplaySettings": "readonly",
    "MyParcelDeliveryOptions": "readonly"
  },
  "extends": [
    "@myparcel/eslint-config/preset-default"
  ],
  "rules": {
    "no-console": "error",
    "vars-on-top": "off",
    "multiline-comment-style": [
      "error",
      "starred-block"
    ],
    "newline-per-chained-call": [
      "warn",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "require-jsdoc": "off",
    "jsdoc/require-jsdoc": "off",
    "prefer-object-spread": "off"
  },
  "overrides": [
    {
      "files": [
        "be-checkout.js",
        "wcmp-admin.js",
        "wcmp-frontend.js"
      ],
      "env": {
        "jquery": true
      }
    }
  ]
}
