{
  "globals": {
    "MyParcel": "readonly",
    "MyParcelDisplaySettings": "readonly",
    "MyParcelDeliveryOptions": "readonly"
  },
  "extends": [
    "@myparcel/eslint-config/preset-default"
  ],
  "rules": {
    "no-console": "error"
  },
  "overrides": [
    {
      "files": [
        "wcmp-admin.js",
        "be-checkout.js"
      ],
      "env": {
        "jquery": true
      },
      "rules": {
        "vars-on-top": "off",
        "multiline-comment-style": [
          "error",
          "starred-block"
        ],
        "newline-per-chained-call": [
          "warn",
          {
            "ignoreChainWithDepth": 2
          }
        ]
      },
      "globals": {
        "wcmp": "readonly"
      }
    }
  ]
}
