version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'composer'
    directory: '/'
    schedule:
      interval: 'daily'
    versioning-strategy: increase-if-necessary
    groups:
      minor-php-updates:
        applies-to: version-updates
        exclude-patterns:
          - "myparcelnl/pdk"
        update-types:
          - "minor"
          - "patch"
      php-pdk:
        patterns:
          - 'myparcelnl/pdk'

  - package-ecosystem: 'npm'
    directories:
      - '/'
      - 'views/**/*'
    schedule:
      interval: 'daily'
    versioning-strategy: increase-if-necessary
    groups:
      minor-js-updates:
        applies-to: version-updates
        exclude-patterns:
          - "@myparcel-dev/pdk-*"
        update-types:
          - "minor"
          - "patch"
      js-pdk:
        patterns:
          - '@myparcel-dev/pdk-*'
