{
  "extends": [
    "@myparcel/eslint-config/preset-es6"
  ],
  "rules": {
    "no-console": "error",
    "vars-on-top": "off",
    "multiline-comment-style": [
      "error",
      "starred-block"
    ],
    "newline-per-chained-call": [
      "warn",
      {
        "ignoreChainWithDepth": 2
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "./*.js",
        "./private/**/*.js"
      ],
      "env": {
        "browser": false,
        "node": true
      }
    }
  ]
}
