services:
  php:
    image: ghcr.io/myparcelnl/php-xd:7.4
    environment:
      COMPOSER_IGNORE_PLATFORM_REQ: 'ext-*,lib-*'
    volumes:
      - .:/app
      - /Users/jochemgravendeel/Projects/pdk:/Users/jochemgravendeel/Projects/pdk
    command: [ 'composer', 'install' ]

  test:
    image: ghcr.io/myparcelnl/php-xd:7.4
    volumes:
      - .:/app
    command: [ 'php', 'vendor/bin/pest' ]
