includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
  - phpstan-baseline.php

parameters:
  level: 5
  tmpDir: .tmp/phpstan
  parallel:
    maximumNumberOfProcesses: 4
  paths:
    - src
  bootstrapFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
  excludePaths:
    - src/Integration/DeliveryOptionsBlocksIntegration.php
