<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
  <php>
    <!-- For WordPress -->
    <const name="ABSPATH" value="1" />

    <!-- For detecting test runs-->
    <const name="MYPARCELNL_PEST" value="1" />
  </php>

  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>

  <extensions>
    <extension class="\MyParcelNL\Pdk\Tests\Hook\ClearContainerCacheHook" />
  </extensions>

  <coverage processUncoveredFiles="true">
    <report>
      <clover outputFile="clover.xml" />
    </report>
    <include>
      <directory suffix=".php">./src</directory>
      <file>./woocommerce-myparcel.php</file>
    </include>
  </coverage>
</phpunit>
