{
  "globals": {
    "wcmp": "readonly",
    "MyParcel": "readonly",
    "MyParcelFrontend": "readonly",
    "MyParcelDisplaySettings": "readonly",
    "MyParcelDeliveryOptions": "readonly"
  },
  "overrides": [
    {
      "files": [
        "checkout.js",
        "wcmp-admin.js",
        "wcmp-frontend.js"
      ],
      "env": {
        "jquery": true
      }
    }
  ]
}
