{
  "env": {
    "jquery": true
  },
  "globals": {
    "MyParcel": "readonly",
    "MyParcelDeliveryOptions": "readonly",
    "MyParcelDisplaySettings": "readonly",
    "MyParcelFrontend": "readonly",
    "tb_show": "readonly",
    "wcmp": "readonly"
  }
}
