.address-widget-forced-hidden {
  display: none !important;
}
.address-widget-forced-visible {
  display: block !important;
}
.myparcel-address-widget button {
  opacity: 0.9;
  font-size: 12px;
}
.validation-messages {
  margin-top: 20px;
}
.validation-message {
  color: #a02222;
}
