.wcmp__table {
  border-collapse: collapse;

  th,
  td {
    padding: .75em .5em;
  }

  &.wc_status_table {
    font-size: .85em;
    margin: 0;

    &.widefat {
      width: auto;
      border: none;
      box-shadow: none;
    }

    tr:nth-child(2n) td,
    tr:nth-child(2n) th {
      background: transparent;
    }
  }

  &--track-trace {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;

    th,
    td {
      vertical-align: top;
      padding: 5px 2px;
      border-bottom: 1px solid #ccc;
    }

    td.wcmp__td--create-label {
      vertical-align: middle;
    }

    th {
      text-align: left
    }
  }

}

