/* Hack to disable yellow bg color on filled fields and allow js to listen for it  */
@-webkit-keyframes onAutoFillStart {
  0% {
  }
  100% {
  }
}

@keyframes onAutoFillStart {
  0% {
  }
  100% {
  }
}

input:-webkit-autofill {
  -webkit-animation-name: onAutoFillStart;
  animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
}

/* End of hack */

#mypabe-load,
#mypabe-delivery-date-text,
#header-delivery-options-title,
#mypabe-delivery-option-form,
#mypabe-location-details,
.mypabe-message-model,
.woocommerce form .optional {
  display: none;
}

.woocommerce-page form .form-row-third {
  float: left;
  width: 16%;
  overflow: visible;
}

.woocommerce form .form-row-third {
  margin-right: 4%;
}

.woocommerce form .form-row-third.first {
  width: 60%;
}

.woocommerce-page form .form-row-third.last {
  margin-right: 0 !important;
}

@media screen and (max-width: 450px) {
  .woocommerce-page form .form-row-third.first {
    width: 100%;
  }

  .woocommerce-page form .form-row-third {
    width: 48%;
  }
}

#billing_house_number::-webkit-outer-spin-button,
#billing_house_number::-webkit-inner-spin-button,
#shipping_house_number::-webkit-outer-spin-button,
#shipping_house_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#billing_house_number, #shipping_house_number {
  -moz-appearance: textfield;
}
