#order_data .order_data_column ._billing_street_name_field,
#order_data .order_data_column ._billing_box_number_field,
#order_data .order_data_column ._shipping_street_name_field,
#order_data .order_data_column ._shipping_box_number_field {
	float: left;
}

#order_data .order_data_column ._shipping_house_number_field,
#order_data .order_data_column ._billing_house_number_field {
    float: right;
}
