/* Hack to disable yellow bg color on filled fields and allow js to listen for it  */
@-webkit-keyframes onAutoFillStart { 0% { } 100% { } }
@keyframes onAutoFillStart { 0% { } 100% { } }

input:-webkit-autofill {
    -webkit-animation-name: onAutoFillStart;
    animation-name: onAutoFillStart;
    transition: background-color 50000s ease-in-out 0s;
}

/* End of hack */

#mypabe-load,
#mypabe-delivery-date-text,
#header-delivery-options-title,
#mypabe-delivery-option-form,
#mypabe-location-details,
.mypabe-message-model,
.woocommerce form .optional {
    display: none;
}

.woocommerce-page form .form-row-third {
    float: left;
    width: 16%;
    overflow: visible;
}

.woocommerce form .form-row-third {
    margin-right: 4%;
}

.woocommerce form .form-row-third.first {
    width: 60%;
}

.woocommerce-page form .form-row-third.last {
    margin-right: 0 !important;
}

@media screen and (max-width: 450px) {
    .woocommerce-page form .form-row-third.first {
        width: 100%;
    }

    .woocommerce-page form .form-row-third {
        width: 48%;
    }
}

#billing_house_number::-webkit-outer-spin-button,
#billing_house_number::-webkit-inner-spin-button,
#shipping_house_number::-webkit-outer-spin-button,
#shipping_house_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#billing_house_number, #shipping_house_number {
    -moz-appearance: textfield;
}

/*
 * Styling delivery options
 */
.mypabe-time {
    margin-left: 5px;
}

#mypabe-send-per-carrier {
    font-weight: bold;
    width: 100%;
    background-color: transparent;
}

#mypabe-delivery-option-form fieldset, form, ul, li, select {
    padding: 0;
    margin: 0;
}

#mypabe-delivery-option-form label {
    width: 66%;
}

#mypabe-select-date {
    width: 100%;
}

.mypabe-error label {
    display: inline-block;
    width: 50%;
}

#mypabe-pickup-location-selector li,
#mypabe-delivery-option-form li {
    list-style-type: none;
    padding: 2px 0 0 0;
}

#mypabe-pickup-location-selector ul:last-child,
#mypabe-delivery-option-form ul:last-child {
    margin-top: 10px;
}

#mypabe-delivery-option-form label {
    display: inline-block;
    width: 80%;
    margin: 0;
}

#mypabe-error-try-again {
    margin-top: 18px;
}

#mypabe-delivery-selectors-be div {
    display: block;
    margin-top: 20px;
}

#mypabe-delivery-selector li {
    margin: 15px 0 0;
    display: inline-block;
    width: 100%;
    padding: 5px 0 2px 0;
}

.mypabe-help {
    color: black;
    text-decoration: none;
}

#mypabe-shop-mock {
    margin-top: 500px;
    background-color: #ccc;
    width: 100%;
    margin-bottom: 25px;
}

.mypabe-full-width {
    display: inline-block;
    width: 100%;
    margin-bottom: 1px;
    padding-bottom: 2px;
}

#mypabe-pickup-location-selector li:nth-last-of-type(-n+2) {
    margin-left: 30px;
}

#mypabe-pickup-location {
    width: calc(100% - 25px);
}

#mypabe-location-details {
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    min-width: 300px;
    max-width: 400px;
    margin: 5px;
    background-color: white;
}

.mypabe-pickup-location-details-location,
.mypabe-pickup-location-details-phone,
.mypabe-pickup-location-details-city,
.mypabe-pickup-location-details-time {
    margin-bottom: 5px;
    display: inline-block;
    width: 65%;
    float: left;
}

.mypabe-openings-title {
    width: 200px;
    height: auto;
}

.mypabe-pickup-location-details-day {
    display: inline-block;
    width: 30%;
}

.mypabe-extra-delivery-options-padding-top {
    padding-top: 10px;
}

.mypabe-fa-clock {
    width: 16px;
    margin-bottom: -3px;
}

.mypabe-fa-times {
    width: 16px;
    float: right;
}

.mypabe-delivery-option-table {
    width: 100%;
}

.mypabe-delivery-option-table tr td:first-child {
    white-space: nowrap;
    width: 20px;
}

.mypabe-delivery-option input {
    width: 20px;
}

.mypabe-delivery-option-table tr td:last-child {
    white-space: nowrap;
    vertical-align: top;
}

.mypabe-bpost-logo {
    width: 100px;
    float: right;
    margin: 45px 8px 0 0;
}

.mypabe-message-model {
    padding: 20px 0 20px 20px;
    border: 1px solid black;
    border-radius: 3px;
    min-width: 300px;
    background-color: white;
}

#mypabe-list-bpost-pickup option {
    padding: 5px 0 5px 0;
}

.mypabe-bold-price {
    font-weight: bold;
}

#mypabe-spinner-model {
    position: relative;
    display: table;
    margin: auto auto;
}

#mypabe-spinner-model svg {
    position: absolute;
    top: 19%;
    left: 22%;
    width: 62%;
}

#mypabe-spinner {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-top: 3px solid #ef2736;
    border-radius: 100%;
    animation: mypabe-spin 1.2s linear infinite;
}

@keyframes mypabe-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 400px) {
    .mypabe-delivery-option-table tr {
        height: 30px !important;
    }

    .mypabe-bpost-logo {
        float: none;
        margin: 0 100% 0 0;

    }

    .mypabe-extra-delivery-options-padding-top {
        padding: 15px 0 10px 0;
    }

    .mypabe-pickup-location-details-location, .mypabe-pickup-location-details-phone, .mypabe-pickup-location-details-city, .mypabe-pickup-location-details-time {
        width: 90%;
    }
}