/*
 * Styling input files on front page
 */
.woocommerce form .form-row-quart,
.woocommerce-page form .form-row-quart,
.woocommerce form .form-row-quart-first,
.woocommerce-page form .form-row-quart-first {
	float: left;
	width: 22%;
	overflow: visible;
}

.woocommerce-page form .form-row-quart-first,
.woocommerce form .form-row-quart-first {
	/*margin-right: 4% !important;*/
}

#billing_house_number::-webkit-outer-spin-button,
#billing_house_number::-webkit-inner-spin-button,
#shipping_house_number::-webkit-outer-spin-button,
#shipping_house_number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#billing_house_number, #shipping_house_number {
	-moz-appearance: textfield;
}

/*
 * Styling delivery options
 */

.mypa-time {
	margin-left: 5px;
}

#mypa-send-per-carrier {
	background-color: #4169e1 !important;
	color: white;
	font-weight: bold;
	width: 100%;
	text-align: center;
	background-color: transparent;
}

#mypa-txt-send-per-carrier {
	line-height: 2;
}

#mypa-delivery-option-form fieldset, form, ul, li, select {
	padding: 0;
	margin: 0;
}

#mypa-delivery-option-form label,
#mypa-delivery-option-form div,
#mypa-delivery-option-form select {
	display: inline-block;
	vertical-align: top;
}

#mypa-delivery-option-form label {
	width: 66%;
}
.myparcel-price::before {
	content: "+€";
}

.mypa-error label {
	display: inline-block;
	width: 50%;
}

#mypa-method-signature-selector-be {
	display: inline-block;
}


#mypa-price-bpost-autograph, #mypa-method-signature-selector-be {
	font-size: 12px !important;
}

#mypa-pickup-location-selector li,
#mypa-delivery-option-form li,
#mypa-delivery-selectors-be li {
	list-style-type: none;
	padding: 2px 0px 0px 0px;
}
#mypa-pickup-location-selector{
	margin-top: 30px;
}

#mypa-delivery-option-form label,
#mypa-delivery-selectors-be label {
	display: inline-block;
	width: 80%;
}
#mypa-error-try-again{
	margin-top: 18px;
}

#mypa-delivery-selectors-be div {
	display: block;
	margin-top: 20px;
}

#mypa-pickup-location {
	width: 80%;
}

#mypa-pickup-selector li{
	margin: 25px 0 0;
	display: inline-block;
	height: 60px;
	width: 100%;
	padding: 5px 0px 2px 0px;
}

.mypa-help {
	color: black;
	text-decoration: none;
}

.fa-question {
	text-decoration: none;
}

#mypa-shop-mock {
	margin-top: 500px;
	background-color: #ccc;
	width: 100%;
	margin-bottom: 25px;
}

.full-width {
	display: inline-block;
	width: 100%;
	margin-bottom: 1px;
	padding-bottom: 2px;
}

#mypa-location-details {
	z-index: 999;
	padding: 20px;
	border: 1px solid black;
	border-radius: 3px;
	position: absolute;
	min-width: 300px;
	max-width: 400px;
	margin: 5px;
	display: none;
	background-color: white;
}

.mypa-pickup-location-details-location,
.mypa-pickup-location-details-phone,
.mypa-pickup-location-details-city,
.mypa-pickup-location-details-time  {
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
}

.mypa-pickup-location-details-day {
	display: inline-block;
	width: 30%;
}

#mypa-message {
	z-index: 999;
	display: none;
	padding: 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	margin: 0;
}

#mypa-spinner {
	position: absolute;
	margin: 50px 0 0 125px;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #000;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	animation: spin 0.3s linear infinite;
}

#mypa-delivery-date,
#mypa-delivery-date-bpost-saturday {
	display: inline-block;
	width: 66%;
}

#mypa-bottom-spacer {
	display: block;
	clear: both;
	height: 40px;
	border-bottom: 1px solid black;
	margin: 0px 0px 20px 0px;
}
.fa-clock {
	width: 16px;
	margin-bottom: -3px;
}

.fa-times{
	width: 16px;
	float: right;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}