.woocommerce form .form-row-quart,
.woocommerce-page form .form-row-quart,
.woocommerce form .form-row-quart-first,
.woocommerce-page form .form-row-quart-first {
	float: left;
	width: 22%;
	overflow: visible;
}

.woocommerce-page form .form-row-quart-first,
.woocommerce form .form-row-quart-first {
	/*margin-right: 4% !important;*/
}

#billing_house_number::-webkit-outer-spin-button,
#billing_house_number::-webkit-inner-spin-button,
#shipping_house_number::-webkit-outer-spin-button,
#shipping_house_number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#billing_house_number, #shipping_house_number {
	-moz-appearance: textfield;
}
/*
 * Styling delivery options
 */

.mypa-time {
	margin-left: 5px;
}

#mypa-send-per-carrier {
	font-weight: bold;
	width: 100%;
	background-color: transparent;
}

#mypa-txt-send-per-carrier {
	line-height: 2;
}

#mypa-delivery-option-form fieldset, form, ul, li, select {
	padding: 0;
	margin: 0;
}

#mypa-delivery-option-form label {
	width: 66%;
}

#mypa-select-date {
	width:100%;
}

.mypa-error label {
	display: inline-block;
	width: 50%;
}

#mypa-pickup-location-selector li,
#mypa-delivery-option-form li {
	list-style-type: none;
	padding: 2px 0px 0px 0px;
}
#mypa-pickup-location-selector ul:last-child,
#mypa-delivery-option-form ul:last-child {
	margin-top: 10px;
}

#mypa-delivery-option-form {
	display: none;
}

#mypa-delivery-option-form label{
	display: inline-block;
	width: 80%;
}
#mypa-error-try-again{
	margin-top: 18px;
	border: 2px solid;
	max-width: 66px;
	padding: 3px;
	border-style: outset;
	cursor: pointer;
}
#mypa-error-try-again: active {
	margin-top: 18px;
	border: 2px solid;
	max-width: 66px;
	padding: 3px;
	border-style: outset;
	cursor: pointer;
	background-color: #4f4f4f;
}

#mypa-delivery-selectors-be div {
	display: block;
	margin-top: 20px;
}

#mypa-delivery-selector li{
	margin: 15px 0 0;
	display: inline-block;
	width: 100%;
	padding: 5px 0px 2px 0px;
}

.mypa-help {
	color: black;
	text-decoration: none;
}

#mypa-shop-mock {
	margin-top: 500px;
	background-color: #ccc;
	width: 100%;
	margin-bottom: 25px;
}

.mypa-full-width {
	display: inline-block;
	width: 100%;
	margin-bottom: 1px;
	padding-bottom: 2px;
}
#mypa-pickup-location-selector li:nth-last-of-type(-n+2) {
	margin-left: 30px;
}

#mypa-pickup-location{
	width: calc(100% - 25px);
}

#mypa-location-details {
	padding: 20px;
	border: 1px solid black;
	border-radius: 3px;
	min-width: 300px;
	max-width: 400px;
	margin: 5px;
	display: none;
	background-color: white;
}

.mypa-pickup-location-details-location,
.mypa-pickup-location-details-phone,
.mypa-pickup-location-details-city,
.mypa-pickup-location-details-time  {
	margin-bottom: 5px;
	display: inline-block;
	width: 50%;
	float: left;
}

.mypa-pickup-location-details-day {
	display: inline-block;
	width: 30%;
}

#mypa-message {
	z-index: 999;
	display: none;
	background-color: white;
	margin: 20px 10px 20px 10px;
	padding: 20px;
	max-width: 400px;
}

#mypa-spinner {
	margin: 50px 0 50px 125px;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #000;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	animation: mypa-spin 0.3s linear infinite;
}

.mypa-extra-delivery-options-padding-top {
	padding-top: 10px;
}

.mypa-extra-delivery-options-padding-bottom {
	padding-bottom: 10px;
}

.mypa-fa-clock {
	width: 16px;
	margin-bottom: -3px;
}

.mypa-fa-times{
	width: 16px;
	float: right;
}

.mypa-delivery-option-table {
	width: 100%;
}

.mypa-delivery-option-table tr td:first-child {
	white-space: nowrap;
	width: 20px !important;
}
.mypa-delivery-option input{
	width: 20px;
}
.mypa-delivery-option-table tr td:last-child {
	white-space: nowrap;
	vertical-align:top;
}

.mypa-message-model {
	height: 100%;
	max-width: 400px;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.mypa-postnl-logo{
	width: 100px;
	height: 110px;
	float: right;
	margin: 35px 34px 0 0;
}

#mypa-delivery-date-text{
	display: none;
}

#mypa-list-postnl-pickup option{
	padding: 5px 0px 5px 0px;
}

.mypa-bold-price{
	font-weight: bold;
}
@media only screen and (max-width: 600px) {

	.mypa-delivery-option-table tr {
		height: 30px !important;
	}
	.mypa-postnl-logo{
		width: 100%;
		height: 110px;
		float: none;
		margin: 0;

	}
	.mypa-extra-delivery-options-padding-top {
		padding: 15px 0px 10px 0px;
	}

	.mypa-pickup-location-details-location, .mypa-pickup-location-details-phone, .mypa-pickup-location-details-city, .mypa-pickup-location-details-time {
		width: 90%;
	}
}

@keyframes mypa-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}