/* Order actions button styling */
.widefat .column-order_actions a.button.myparcel {
	float: left;
	width: 26px;
	height: 26px;
	padding: 3px 2px;
}

.widefat .column-order_actions a.button.myparcel img {
	width: 16px;
	height: auto;
}

.wcmp_shipment_summary, .wcmp_shipment_options {
	/*display: inline;*/
}

.wcmp_shipment_summary .delivery-date,
.wcmp_shipment_summary .delivery-options {
	display: block;
}

ul.wcmyparcel_shipment_summary {
    list-style: none;
}

ul.wcmyparcel_shipment_summary li:before {
    content: "+";
    margin-right: 4px;
}

/* shipment options form styling */
.wcmp_shipment_options_form table {
	width: 100%;
}

.wcmp_shipment_options_form input[type=number] {
	width: 50px;
	text-align: center;
}

.wcmp_shipment_options_form input[type="checkbox"],
.wcmp_shipment_options_form input[type="radio"] {
	margin-right: 8px;
}

.wcmp_shipment_options_form .wcmyparcel_settings_table td {
	border: none;
	padding: 0px 7px 2px !important;
	vertical-align: middle !important;
}

.wcmp_shipment_options_form, .wcmp_shipment_summary_list {
    width: 450px;
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    z-index: 999;
    padding: 10px;
}

.wcmp_shipment_summary_list {
	width: auto;
}

.wcmp_shipment_options_form td.wcmp_option_cost {
	width: 60px;
	text-align: right;
	font-weight: bold;
}

.wcmp_shipment_options_form .calculated_weight {
	font-size: 80%;
	color: #999;
}

.wcmp_save_shipment_settings {
	margin-top: 8px;
}

.wcmp_spinner,
.wcmp_bulk_spinner {
	display: none;
}

.wcmp_bulk_spinner {
	margin-top: 6px;
}

.widefat .column-order_actions .wcmp_spinner {
	position: absolute;
}

.wcmp_spinner, 
.wcmp_save_shipment_settings input{
	vertical-align: middle;
}

.encircle {
	display: inline-block;
	text-decoration: none;

    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 10px;
    line-height: 10px;

    padding: 2px;

    border: 1px solid #666;
    color: #666;
    text-align: center;
}

table.tracktrace_status {
	margin-top: 10px;
}
table.tracktrace_status td {
	vertical-align: top;
}

/* bulk export options styling */
.wcmp_bulk_options_form .wcmyparcel_settings_table td {
	border: none;
	padding: 0px 7px 2px !important;
	vertical-align: middle !important;
}

.wcmp_bulk_options_form td.ordercell {
	width: 60%;
}

.wcmp_bulk_options_form input[type="checkbox"], input[type="radio"] {
	margin-right: 8px;
}

.wcmp_bulk_options_form {
	width: 96%;
	margin: 10px auto;
}

.wcmp_bulk_options_form .wcmp_save_shipment_settings {
	margin-top: 8px;
	float: right;
}

/* chosen delivery options styling */
#order_data .delivery-options {
	margin-top: 10px;
}
#order_data .delivery-options strong {
	display: block;
}

/* settings styling */
.wcmp_delivery_option_details {
	margin-top: 5px;
}
.wcmp_delivery_option_details td {
	padding: 0;
}

/* fix woocommerce column float */
@media only screen and (min-width: 1280px) {
	#order_data .order_data_column {
		max-width: 31% !important;
	}
}
