/*
 * Action buttons
 */
.post-type-shop_order .wp-list-table .column-wc_actions .button.wcmp__action,
.button.wcmp__action {
  width: auto;
  min-width: 2em;
  display: inline-flex;
  padding: 0 0.3em !important
}

.wcmp__action + .wcmp__action {
  margin-left: .3em;
}

.wcmp__action .wcmp__action__img {
  margin: auto;
}

/*
 * Shipment summary
 */
.wcmp__shipment-summary, .wcmp__shipment-options {
  display: inline;
}

.wcmp__shipment-summary .delivery-date,
.wcmp__shipment-summary .delivery-options {
  display: block;
}

.wcmp__shipment-summary {
  list-style: none;
}

.wcmp__shipment-summary li:before {
  content: "+";
  margin-right: 4px;
}

/*
 * The print offset dialog
 */
.wcmp__offset-dialog {
  position: absolute;
  background-color: white;
  padding: 6px;
  width: 100px;
  border: 1px solid #ccc;
  margin-left: -100px;
}

/*
 * Shipment options form styling
 */
.wcmp__shipment-options__form table {
  width: 100%;
}

.wcmp__shipment-options__form input[type="checkbox"],
.wcmp__shipment-options__form input[type="radio"] {
  margin-right: 8px;
}

.wcmp__shipment-options__form .wcmp__settings-table td {
  padding-bottom: 6px;
  vertical-align: middle;
}

.wcmp__shipment-options__form,
.wcmp__shipment-summary__list {
  border: 1px solid #ccc;
  background: white;
  position: absolute;
  z-index: 999;
  padding: 10px;
}

.wcmp__shipment-summary__list {
  width: auto;
}

.wcmp__shipment-options__form td.wcmp_option_cost {
  width: 60px;
  text-align: right;
  font-weight: bold;
}

.wcmp__shipment-options__form .calculated_weight {
  font-size: 80%;
  color: #999;
}

.wcmp__shipment-settings__save {
  margin-top: 8px;
}

/*
 * Spinner
 */
.wcmp__spinner {
  display: inline-flex;
  margin: auto;
}

.wcmp__spinner > img {
  width: 16px;
  display: none;
}

.wcmp__spinner--loading .wcmp__spinner__loading,
.wcmp__spinner--success .wcmp__spinner__success,
.wcmp__spinner--failed .wcmp__spinner__failed {
  display: block !important;
}

.button > .wcmp__spinner {
  margin-left: 4px;
}

.button + .wcmp__spinner, input + .wcmp__spinner {
  margin-left: 5px;
  margin-top: 5px;
}

.wcmp__bulk-spinner {
  margin-top: 6px;
}

.widefat .column-order_actions .column-wc_actions .wcmp__spinner {
  position: absolute;
}

.wcmp__spinner,
.wcmp__shipment-settings__save input {
  vertical-align: middle;
}

.wcmp__encircle {
  display: inline-block;
  text-decoration: none;

  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;

  padding: 2px;

  border: 1px solid #666;
  color: #666;
  text-align: center;
}

/*
 * Track & Trace status
 */
.wcmp__table--track-trace {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.wcmp__table--track-trace th {
  text-align: left
}

.wcmp__table--track-trace th,
.wcmp__table--track-trace td {
  vertical-align: top;
  padding: 5px 2px;
  border-bottom: 1px solid #ccc;
}

.wcmp__table--track-trace td.wcmp__td--create-label {
  vertical-align: middle;
}

/*
 * Bulk export options styling
 */
.wcmp__bulk-options .wcmp__settings-table td {
  border: none;
  padding: 0 7px 2px !important;
  vertical-align: middle !important;
}

.wcmp__bulk-options td.ordercell {
  width: 60%;
}

.wcmp__bulk-options input[type="checkbox"], input[type="radio"] {
  margin-right: 8px;
}

.wcmp__bulk-options {
  width: 96%;
  margin: 10px auto;
}

.wcmp__bulk-options .wcmp__shipment-settings__save {
  margin-top: 8px;
  float: right;
}

/*
 * Chosen delivery options styling
 */
#order_data .delivery-options {
  margin-top: 10px;
}

#order_data .delivery-options strong {
  display: block;
}

/*
 * Delivery options
 */
.wcmp_delivery_option_details {
  margin-top: 5px;
}

.wcmp_delivery_option_details td {
  padding: 0;
}

.wcmp__shipment-options__form > a {
  color: inherit;
  text-decoration: none;
}

/* fix woocommerce column float */
@media only screen and (min-width: 1280px) {
  #order_data .order_data_column {
    max-width: 31% !important;
  }
}

/*
 * Helpers
 */
.wcmp__d--block {
  display: block;
}

.wcmp__d--flex {
  display: flex;
}

.wcmp__white-space--nowrap {
  white-space: nowrap;
}

/* Hide the "(optional)" spans on wcmp form labels in settings page and others*/
.wcmp label span.optional {
  display: none;
}

/*
 * WCMP Settings page
 */
.woocommerce_page_wcmp_settings tr.wcmp__child {
  background: #e5e5e5;
}

.woocommerce_page_wcmp_settings tr.wcmp__child * {
  font-size: .95em !important;
}

.woocommerce_page_wcmp_settings tr.wcmp__child th {
  padding: 12.5px 15px;
}

.woocommerce_page_wcmp_settings tr.wcmp__child td {
  padding-top: 5px;
  padding-bottom: 10px;
}

.woocommerce_page_wcmp_settings input,
.woocommerce_page_wcmp_settings table.form-table .select2-container,
.woocommerce_page_wcmp_settings select {
  max-width: 360px;
}

.woocommerce_page_wcmp_settings table.form-table .select2-container {
  min-width: auto !important;
  width: 100% !important;
}

.woocommerce_page_wcmp_settings table.form-table th {
  width: 280px;
}

.wcmp__order__track-trace {
  word-break: break-all;
}
