input[name=mypa-delivery-type],
input[name=mypa-delivery-time],
input[name=mypa-pickup-option]{
  display: none;
}

#mypa-slider{
  width: 204%;
  height: 100%;
}

.mypa-slider-pos-0{
  left:0;
}

.mypa-slider-pos-1{
  left: -49%;
}

.mypa-tab-container{
  vertical-align: top;
  transition: left 0.5s ease-out;
  width: 49%;
  height: 100%;
  display: inline-block;
  position:relative;
  overflow:hidden;
}

#mypa-delivery-options-container{
  font-family:"Open Sans";
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

.mypa-delivery-header, .mypa-tab{
  color: #fff;
}

.mypa-tab{
  width: 80px;
}

#mypa-tabs{
  position: relative;
  display: block;
  width: 100%;
  transition: left 0.3s ease-out 0.1s;
}

.mypa-tab{
  transition: background-color 0.4s;
  font-size: 12px;
  background: #75D3D8;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  text-align: center;
}

.mypa-date{
    display:none;
}

.mypa-date:checked+label , .mypa-tab:hover{
  background: #01bbc5;
}

.mypa-content-lg {
  transition: max-height 0.4s ease-out 0s;
  overflow:hidden;
}

.mypa-content-lg > div:first-child{
  border-top: solid 1px #D2D2D2;
}

.mypa-tab + .mypa-tab{
  margin-left: 4px;
}

.mypa-delivery-header{
  padding: 17px;
  font-size: 20px;
  background: #01bbc5;
}

.mypa-checkmark {
  cursor: pointer;
  position: relative;
  top: 6px;
  display:inline-block;
  margin-right: 5px;
  width: 22px;
  height:22px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.mypa-circle {
  transition: background-color 0.4s;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #C7C7C7;
  left:0;
  top:0;
  z-index:1;
}

.mypa-circle:hover, label.mypa-row-subitem:hover .mypa-circle{
  background-color: #ff8c00;
}

input:checked + label.mypa-checkmark div.mypa-circle,
input[name=mypa-delivery-type]:checked + label div.mypa-main div.mypa-circle,
input[name=mypa-pickup-option]:checked + label div.mypa-main div.mypa-circle
{
  background-color: #ff8c00;
  z-index:0;
}

input[name=mypa-delivery-type] ~ div.mypa-content-lg{
  max-height: 0px;
}

input[name=mypa-delivery-type]:checked ~ div.mypa-content-lg{
  max-height: 149px;
}

.mypa-checkmark-stem {
  position: fixed;
  width: 10%;
  height: 55%;
  background-color:#fff;
  left: 55%;
  top: 18%;
}

.mypa-checkmark-kick {
  position: fixed;
  width: 32%; 
  height: 9%;
  background-color:#fff;
  left: 32%;
  top: 64%;
}

.mypa-row-lg{
  border-bottom: 1px solid #D2D2D2;
}

.mypa-row-title{
  display: inline-block;
  padding: 9px 15px 16px 15px;
  width: 80%
}

.mypa-row-subitem{
  margin: 2px 0 10px 40px;
  display: block;
}


#mypa-delivery-options{
}

.mypa-onoffswitch {
    top: 7px;
    position: relative; width: 45px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.mypa-onoffswitch-checkbox {
    display: none;
}

.mypa-onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #C7C7C7; border-radius: 20px;
}

.mypa-onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    margin-left: 0;
}

.mypa-onoffswitch-inner:before, .mypa-onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.mypa-onoffswitch-inner:before {
    content: "N";
    padding-left: 7px;
    background-color: #DE0D0D; color: #FFFFFF;
}

.mypa-onoffswitch-inner:after {
  content: "J";
  padding-right: 7px;
  background-color: #39D12E; color: #FFFFFF;
  text-align: right;
}

.mypa-onoffswitch-switch {
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 0px;
  border: 2px solid #C7C7C7; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.mypa-onoffswitch-checkbox:checked + div.mypa-switch-container .mypa-onoffswitch .mypa-onoffswitch-label .mypa-onoffswitch-inner {
  margin-left: -41px;
}

.mypa-onoffswitch-checkbox:checked + div.mypa-switch-container .mypa-onoffswitch .mypa-onoffswitch-label .mypa-onoffswitch-switch {
  right: 21px;
}

.mypa-switch-container{
    display: inline-block
}

input:checked ~ .mypa-highlight,
input:checked ~ label.mypa-row-title span.mypa-highlight{
    color: #FF8C00
}

#mypa-back-arrow{
  cursor: pointer;
}

.mypa-arrow-left::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-left: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
  transform: rotate(45deg);
  margin-right: 0.5em;
}

.mypa-arrow-right::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.2em solid #fff;
  border-top: 0.2em solid #fff;
  transform: rotate(45deg);
  margin-right: 0.5em;
}

.mypa-arrow-clickable:hover::before{
  border-left: 0.2em solid #ff8c00;
  border-bottom: 0.2em solid #ff8c00;
}

.mypa-arrow-clickable:hover{
  color: #ff8c00;
}

#mypa-date-slider-left::before, #mypa-date-slider-right::before{
  border-color: #A0A0A0;
}

#mypa-date-slider-left:hover::before, #mypa-date-slider-right:hover::before{
  border-color: #FF8C00;
}

.mypa-slider-disabled#mypa-date-slider-left::before,
.mypa-slider-disabled#mypa-date-slider-right::before{
  border-color: #EAEAEA;
  cursor: not-allowed;
}

.mypa-date-slider-button {
  position: absolute;
  display: inline-block;
  top: 13px;
  font-size: 22px;
}

#mypa-date-slider-left{
  left: 19px;
}

#mypa-date-slider-right{
  right: 5px;
}

#mypa-tabs-container{
  height: 44px;
  margin-left: 45px;
  margin-right: 41px;
  overflow: hidden;
}

#mypa-location-container{
  overflow: scroll;
  max-height: 100%
}

.mypa-price{
  display: inline-block;
  padding: 2px 5px;
  background: #C7C7C7;
  color: white;
  float: right;
  margin-right: 25px;
  font-weight: 800;
  font-size: 17px;
}

input:checked ~ .mypa-price,
input:checked ~ span span.mypa-price{
  background: #ff8c00
}

.mypa-info{
  position: relative;
  left:24px;
}

.mypa-info::before{
  content: "I"
}

.mypa-opening-hours{
  position: absolute;
  top: 80px;
  right: 90px;
}