name: 'Assign pull request author'

on:
  pull_request:
    types:
      - opened

concurrency:
  group: '${{ github.workflow }}-${{ github.event.pull_request.number }}'
  cancel-in-progress: true

jobs:
  assign-author:
    runs-on: ubuntu-22.04
    steps:
      - uses: myparcelnl/actions/pr-assign-author@v4
        with:
          app-id: ${{ secrets.MYPARCEL_APP_ID }}
          private-key: ${{ secrets.MYPARCEL_APP_PRIVATE_KEY }}
