name: '⚙️ On push'

on:
  push:
    branches:
      - main
      - beta
      - alpha

  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  analyse:
    uses: ./.github/workflows/analyse.yml
    secrets: inherit

  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: myparcelnl/actions/pdk-prerelease@v4
        with:
          app-id: ${{ secrets.MYPARCEL_APP_ID }}
          private-key: ${{ secrets.MYPARCEL_APP_PRIVATE_KEY }}
          php-version: ${{ vars.PHP_VERSION }}
          php-scoper-version: ${{ vars.PHP_SCOPER_VERSION }}
          upgrade-pdk-deps: 'false'
          source-files: |
            src/**/*
            config/**/*
            scoper.inc.php
            woocommerce-myparcel.php

  rebase-prs:
    uses: ./.github/workflows/rebase-prs.yml
    needs:
      - build
      - test
      - analyse
    secrets: inherit

  notify-on-failure:
    needs:
      - test
      - analyse
      - build
    if: always() && contains(needs.*.result, 'failure')
    uses: myparcelnl/actions/.github/workflows/notify-on-failure.yml@v5
    secrets: inherit
